@import "./globalvars.scss";

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
  }
  
  .top_menu {
    display: flex;
    width: 100%;
    color: white;
    transition:
      background-color 0.6s ease,
      color 0.3s ease;
  
    &:hover {
      background-color: white;
      color: black;
  
      nav a {
        color: black;
      }
    }
  
    &.black{
      background-color: white;
      color: black;
  
      nav a {
        color: black;
      }
    }
  }
  
  .top_menu h1 {
    text-wrap: nowrap;
    user-select: none;
    font-family: $headTitle;
    font-weight: 500;
    font-size: 2.4rem;
    cursor: pointer;
  }
  
  .top_menu nav {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
    align-items: center;
  
    a:nth-child(1) {
      margin-left: 1.5rem;
    }
  
    a {
      margin-top: 1rem;
      text-decoration: none;
      font-family: $TittleFont;
      font-size: 1.4rem;
      font-weight: 400;
      color: white;
      padding-bottom: 0.5rem;
      transition: color 0.3s ease;
      user-select: none;

      &.border{
        margin-top: 1.1rem;
        border-bottom: 2px black solid;
      }
    }
  }
  
  .top_menu .user {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1rem;
    gap: 1rem;
  
    span {
      user-select: none;
      cursor: pointer;
      font-weight: 100;
    }
  
    p:nth-child(3) {
      margin-right: 1.5rem;
      user-select: none;
    }
  }
  
  .mega_menu{
    background-color: white;
    width: 100%;
    height: 450px;
    border-top: #c2c2c2 1px solid;
    display: flex;
    flex-direction: column;

    animation: megaMenuEntry 0.6s ease;
  }
  
  .mega_menu h3{
    margin-left: 5rem;
    margin-bottom: 0;
  }
  
  .mega_menu .categories{
    display: flex;
    margin-left: 5rem;
    gap: 3rem;
  
    .close{
      cursor: pointer;
      user-select: none;
    }
  }
  
  .mega_menu .categories .line{
    background-color: #c2c2c2;
    height: 100%;
    width: 1px;
  }
  
  .mega_menu .categories .off{
    width: 400px;
    height: 291px;
    background-color: #d1d1f2;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    user-select: none;
    cursor: pointer;
  }

  .mega_menu .collections{
    display: grid;
    grid-template-columns: 400px 400px;
    flex-direction: column;
    gap: 1rem;
  }

  .mega_menu .collections .collection{
    background-color: crimson;
    height: 190px;
    width: 100%;
    cursor: pointer;
  }
  
  .block {
    background-color: lavender;
    width: 100%;
    height: 250vh;
  }
  
  .banner {
    background-color: rgb(150, 45, 66);
    width: 100%;
    height: 500px;
  }

  @keyframes megaMenuEntry {
     0%{
        opacity: 0;
     }
     100%{
        opacity: 100%;
     }
  }