@import "./globalvars.scss";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 20000;
}

.top_menu {
  display: flex;
  width: 100%;
  color: white;
  transition:
    background-color 0.6s ease,
    color 0.3s ease;

  &:hover {
    background-color: white;
    color: black;

    nav a {
      color: black;
    }

    nav .menu_button .line {
      background-color: black;
    }
  }

  &.black {
    background-color: white;
    color: black;

    nav a {
      color: black;
    }

    nav .menu_button .line {
      background-color: black;
    }
  }
}

.top_menu h1 {
  text-wrap: nowrap;
  user-select: none;
  font-family: $headTitle;
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;

  @media (min-width: 500px) {
    font-size: 2.2rem;
  }

  @media (min-width: 1280px) {
    font-size: 2.4rem;
  }
}

.top_menu nav {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin-left: 0.5rem;
  align-items: center;

  @media (min-width: 460px) {
    margin-left: 1rem;
  }

  a:nth-child(1) {
    margin-left: 1.5rem;
  }

  a {
    margin-top: 1rem;
    text-decoration: none;
    font-family: $TittleFont;
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    padding-bottom: 0.5rem;
    transition: color 0.3s ease;
    user-select: none;

    &.border {
      margin-top: 1.1rem;
      border-bottom: 2px black solid;
    }
  }
}

.top_menu nav .menu_button {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 50px;
  // background-color: blueviolet;
  align-items: center;
  justify-content: center;
  // margin-top: 0.5rem;
  cursor: pointer;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.top_menu nav .menu_button .line {
  height: 2px;
  width: 35px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.top_menu .user {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 0.5rem;
  gap: 0.1rem;

  @media (min-width: 460px) {
    margin-right: 1rem;
  }

  @media (min-width: 500px) {
    gap: 0.5rem;
  }

  .button {
    cursor: pointer;
    // background-color: purple;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    user-select: none;
    font-weight: 100;
  }

  div:nth-child(3) {
    margin-right: 0.5rem;
    user-select: none;

    @media (min-width: 460px) {
      margin-right: 1.5rem;
    }
  }
}

.mega_menu {
  background-color: white;
  width: 100%;
  height: 450px;
  border-top: #c2c2c2 1px solid;
  display: flex;
  flex-direction: column;

  animation: megaMenuEntry 0.6s ease;
}

.mega_menu h3 {
  margin-left: 5rem;
  margin-bottom: 0;
}

.mega_menu .categories {
  display: flex;
  margin-left: 5rem;
  gap: 3rem;

  .close {
    cursor: pointer;
    user-select: none;
  }
}

.mega_menu .categories .block{
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.mega_menu .categories .block a{
  text-decoration: none;
  color: black;
}

.mega_menu .categories .line {
  background-color: #c2c2c2;
  height: 100%;
  width: 1px;
}

.mega_menu .categories .off {
  width: 400px;
  height: 291px;
  background-color: #d1d1f2;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  user-select: none;
  cursor: pointer;
}

.mega_menu .collections {
  display: grid;
  grid-template-columns: 400px 400px;
  flex-direction: column;
  gap: 1rem;
}

.mega_menu .collections .collection {
  background-color: crimson;
  height: 190px;
  width: 100%;
  cursor: pointer;
}

@keyframes megaMenuEntry {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav_menu {
  border-top: #c2c2c2 1px solid;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  height: 100%;
  width: 100%;
  transition: transform 0.4s ease;
  transform: translate(100%, 0);

  @media (min-width: 500px) {
    width: 500px;
    transform: translate(-500px, 0);
  }

  &.open {
    transform: translate(0, 0);
  }

  &.close {
    transform: translate(-100%, 0);

    @media (min-width: 500px) {
      transform: translate(-500px, 0);
    }
  }

  &.hidden {
    opacity: 0;
    width: 0px;
    height: 0px;

    .button {
      cursor: default;
    }
  }
}

.nav_menu::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 500px;
  background-color: transparent;
  transition: opacity 0.4s ease;

  @media (min-width: 500px) {
    background-color: #0000005f;
  }
}

.nav_menu.close::before {
  opacity: 0;
}

.nav_menu.open::before {
  opacity: 1;
}

.nav_menu.hidden::before {
  width: 0px;
  height: 0px;
}

.nav_menu .close_button {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  background-color: black;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}

.nav_menu .button:nth-child(2) {
  margin-top: 4rem;
}

.nav_menu .button {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  gap: 1.5rem;

  p {
    user-select: none;
    margin: 0;
    font-size: 1.2rem;
    text-wrap: nowrap;

    @media (min-width: 500px) {
      font-size: 1.4rem;
    }
  }

  span {
    user-select: none;
    font-size: 2.3rem;
  }

  span:nth-child(3) {
    width: 100%;
    text-align: end;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}

.nav_menu .line {
  background-color: #c2c2c2;
  height: 2px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

}

.footer .info {
  // background-color: purple;
  border-top: #c2c2c2 1px solid;
  border-bottom: #c2c2c2 1px solid;
  margin-bottom: 1rem;
  padding-left: 2rem;

  h2 {
    font-size: 1rem;
    font-weight: 400;
  }
}

.footer_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 970px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (min-width: 970px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
    margin-bottom: 3.5rem;
  }

  @media (min-width: 1280px) {
    height: 300px;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 0;
  }
}

.footer_body .line {
  background-color: #c2c2c2;
  height: 1px;
  width: 100%;
  margin-top: 3rem;

  @media (min-width: 970px) {
    margin-top: 0;
    height: 90%;
    width: 1px;
  }
}

.footer_body .block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.large {
    width: 100%;

    @media (min-width: 970px) {
      min-width: 400px;
      width: 400px;
    }
  }

  h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.7rem;
    color: #272727;

    span {
      color: black;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 0.9rem;
  }
}

.footer_body .block .social {
  display: flex;
  gap: 1rem;
}

.footer_body .block .social a {
  font-size: 1.6rem;
  text-decoration: none;
}

.footer_body .block form {
  display: flex;
  gap: 0.5rem;

  input {
    border: none;
    border-bottom: black 1px solid;
  }

  input[type="email"] {
    width: 100%;
    padding-bottom: 0.5rem;

    &:focus {
      outline: none;
      border-color: crimson;
    }
  }

  input[type="submit"] {
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid crimson;
  }
}

.footer_body .buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;

  @media (min-width: 970px) {
    max-width: 500px;
  }
}

.footer_body .buttons .list {
  border-bottom: #c2c2c2 1px solid;
  transition: height 0.3s ease;
}

.footer_body .buttons .list .block {
  height: 0;
  z-index: -1;
  visibility: hidden;
  transition: height 0.3s ease;

  &.active {
    visibility: visible;
    height: var(--block-height);
    padding-bottom: 1rem;
  }
}

.footer_body .list .button {
  display: flex;
  flex-wrap: nowrap;
  background-color: #f1f1f1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;

  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    user-select: none;
  }

  span {
    font-size: 1.5rem;
    transform: rotate(90deg);
    user-select: none;
    transition: transform 0.3s ease;
  }

  &.active {
    span {
      transform: rotate(0);
    }
  }
}