@import "globalvars.scss";

.shop {
    padding-top: 71.67px;
    display: flex;
    flex-direction: column;

    @media (min-width: 500px) {
        padding-top: 87.63px;
    }

    @media (min-width: 1280px) {
        padding-top: 95.59px;
    }
}

.shop .body {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.shop .filters {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.shop .filters .block {
    display: flex;
    flex-direction: column;
    border: 1px #c2c2c2 solid;
    padding: 1rem;
    padding-bottom: 0;
    width: 300px;
    ;
}

.shop .filters .block h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.5rem;
}

.shop .filters .block a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    border-top: #c2c2c2 1px solid;
}

.shop .filters .block form {
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.shop .filters .block form input[type="number"] {
    width: 110px;
}

.shop .filters .block form input[type="submit"] {
    width: 118px;
    padding: 0.2rem;
    align-self: flex-end;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #272727;
    }
}

.shop .filters .block form .line {
    width: 12px;
    height: 1px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    background-color: #4d4d4d;
    align-self: center;
}

.shop .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.shop .content .options {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-right: 0;
    padding-left: 0;
    border-top: 1px #c2c2c2 solid;
    border-bottom: 1px #c2c2c2 solid;

    @media (min-width: 1280px) {
        flex-direction: row;
    }
}

.shop .content .options .button {
    cursor: pointer;
}

.shop .content .options .button span {
    color: #4d4d4d;
    border: 1px #c2c2c2 solid;
    padding: 0.3rem;
}

.shop .content .options .sorting {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.2rem;
}

.shop .content .options .sorting label {
    text-wrap: nowrap;
    align-self: center;
}

.shop .content .options .sorting select {
    padding: 0.3rem;
    border-color: #c2c2c2;
}

.shop .content .options .search {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.shop .content .options .search input[type="search"] {
    border: 1px solid #c2c2c2;
    // min-height: 35.59px;
    padding-right: 2.5rem;
    padding-left: 0.5rem;

    &:focus {
        outline: none;
    }
}

.shop .content .options .search span {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.3rem;
    border-left: 1px #c2c2c2 solid;
    cursor: pointer;
}

.shop .content .options button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px #c2c2c2 solid;
    padding: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

.shop .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #cbcbcb;
    margin-bottom: 3rem;
    background-image: repeating-linear-gradient(-45deg, rgba(55, 55, 55, 0.1), rgba(55, 55, 55, 0.1) 1px, transparent 1px, transparent 6px);
    // background-size: 4px 4px;
}

.shop .banner h1 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.shop .content .blocks {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;

    @media (min-width: 380px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1440px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    // &.list{

    // }
}

.shop .content .blocks .block {
    background-color: rebeccapurple;
    cursor: pointer;
    height: 92.105vw;
    width: 78.947vw;

    @media (min-width: 380px) {
        height: 230px;
        width: 42.429vw;
    }

    @media (min-width: 420px) {
        height: 270px;
    }

    @media (min-width: 585px) {
        height: 46.286vw;
    }

    @media (min-width: 700px) {
        height: 324px;
        width: 297px;
    }

    @media (min-width: 900px) {
        height: 36vw;
        width: 33vw;
    }

    @media (min-width: 1000px) {
        height: 22.656vw;
        width: 21.094vw;
    }

    @media (min-width: 1280px) {
        height: 15.972vw;
        width: 15.278vw;
    }

    @media (min-width: 1440px) {
        min-width: 220px;
        min-height: 230px;
    }

    @media (min-width: 1920px) {
        height: 11.979vw;
        width: 11.458vw;
    }
}

.shop .side_filters {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 20000;

    background-color: white;
    border-right: 1px solid #c2c2c2;
    transition: transform 0.4s ease;
    transform: translate(100%, 0);

    @media (min-width: 500px) {
        width: 500px;
        transform: translate(-500px, 0);
    }

    &.open {
        transform: translate(0, 0);
    }

    &.close {
        transform: translate(-100%, 0);

        @media (min-width: 500px) {
            transform: translate(-500px, 0);
        }
    }

    &.hidden {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
}

.shop .side_filters::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 500px;
    background-color: transparent;
    transition: opacity 0.4s ease;

    @media (min-width: 500px) {
        background-color: #0000005f;
    }
}

.shop .side_filters.close::before {
    opacity: 0;
}

.shop .side_filters.open::before {
    opacity: 1;
}

.shop .side_filters.hidden::before {
    width: 0px;
    height: 0px;
}

.shop .side_filters .close_button {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    background-color: black;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}